@import "tailwindcss";

@layer utilities {
  .bg-app-background {
    background-color: #212529;
  }

  .bg-app-level1 {
    background-color: #272b2f;
  }

  .border-app-border {
    /* border-color: #3a3f44; */
    border-color: #292c2e;
  }
}

@layer components {
  .message-appear {
    animation: messageAppear 0.5s ease-out forwards;
  }

  @keyframes messageAppear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
